{% load static %}
<!doctype html>
<html>

<head>
    <title>Book Reviews</title>
    <link rel="stylesheet" href="book-review.css">
</head>

<body>
    <header>
        <div>
            My Book Reviews.
        </div>
        <nav>
            <a href="{% url "reviews_list" %}">Back to list</a>
        </nav>
    </header>
    <main>
        <div class="book-review-form">
            <form method="post">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                      <button>Submit</button>
                    </div>
                  </form>

            </form>
        </div>
    </main>
    <footer>
        <div>Copyright 2022 by Roger Wang</div>
        <p>This is my site. Not your site.</p>
    </footer>
    </div>
</body>